body{
	background:#202124;
	/*#121212*/
}

html{
	color: white;
	font-size: 0.8em;
	font-family: "Lucida Console";
}

#map {
  background-color: #a7cdf2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#legend {
  font-size: 0.8em;
}

.legend rect {
  fill:white;
	stroke: black;
	stroke-width: 0.1;}

.legend text {
	  color:black;
	}

div.tooltip {
  position: absolute;
  padding: 7px;
	color: black;
  font-size: 0.8em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}
