body{
	background:#202124;
	/*#121212*/
}

html{
	color: white;
	font-size: 0.8em;
	font-family: "Lucida Console";
}

/* MAP WORLD */
#map {
    background: #202124;
    position: absolute;
    height: 55.5%;
    width: 56.5%;
  }

svg {
	position:fixed;
	z-index:1;
}

#legend {
	position: absolute;
	z-index:2;
  font-size: 0.8em;
}

.legend rect {
  fill:white;
	stroke: black;
	stroke-width: 0.1;}

.legend text {
	  color:black;
	}

#legendBubble {
	position: absolute;
	z-index:4;
}

.legendBubble rect {
  fill:white;
	stroke: black;
	stroke-width: 0.1;}


.btn-group button {
	position: relative;
	z-index:2;
  background-color: #F2F2F2;
  border: 1.5px solid #E0E0E0;
  color: black;
  cursor: pointer;
  width: 25px;
	height: 25px;
  display: block;
	margin-left: 10px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group button:hover {
	font-weight: bold;
	cursor: pointer;
	background: #E0E0E0;
}

.btn-group button:active {
	font-weight: bold;
	background: #D3D3D3;
}

#zoom_in{
	margin-top: 20px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#zoom_out{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

div.tooltip {
  position: absolute;
	z-index:2;
  padding: 5px;
	line-height: 0.5;
	color: black;
  font-size: 0.7em;
  pointer-events: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

/*PARALLEL COORDINATES*/
#par-coord{
  /*border:3px solid black;*/
  /*border-style: inset;*/
  /*border-radius: 5px;*/
  background:#202124;
  position: absolute;
  top:57%;
  height: 42%;
  width: 56.5%;
}

#my_dataviz{
  height: 100%;
  width: 100%;
  position: relative;
}

.PCtooltip {
  border-radius: 25px;
  background: lightgray;
  display:none;
  padding: 5px;
  font-family: sans-serif;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.dimension .axis path.domain {
   stroke: #ffffff;
}

.dimension text{
	fill: #ffffff
}

.dimension line{
	stroke: #ffffff
}
