body{
	background:#202124;
	/*#121212*/
}

html{
	color: white;
	font-size: 0.8em;
	font-family: "Lucida Console";
}

#map {
  background-color: #a7cdf2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#legend {
	position: absolute;
	z-index: 200;
  font-size: 0.8em;
}

.legend rect {
  fill:white;
	stroke: black;
	stroke-width: 0.1;}

.legend text {
	  color:black;
	}

.zoom_control .button_zoom:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.zoom_control .button_zoom:hover {
  background-color: trasparent;
}

.zoom_control{
  background-color: #e7e7e7; /* Grey */
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
	width: 40px;
  cursor: pointer;
  display: block;
	border-radius: 6px;
}

div.tooltip {
  position: absolute;
  padding: 7px;
	color: black;
  font-size: 0.8em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}
